/* 331179
 793199*/
body {
    background: linear-gradient(110deg, #331179 60%, #793199 60%);
    color: #F9F6EE;
}

a {
    color: #F9F6EE;
}

a:hover {
    color: #B0A8B9;
}

/* Scrollbar customised */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #634E7D80;
}

::-webkit-scrollbar-thumb {
    background: #7C7484;
}

::-webkit-scrollbar-thumb:hover {
    background: #4B4453;
}

.movie-app > .row {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.image-container {
    position: relative;
    transition: transform 0.2s;
}

.image-container:hover {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    opacity: 1;
    transition: 0.5s ease;
    padding: 1.3rem;
}

.heart-icon {
    cursor: pointer;
}

.movie-title {
    font-size: 1.3rem;
}

/*
Search bar
*/

.search-bar .form-control {
    padding-left: 2.375rem;
}

.search-bar img {
    padding: 0.5rem;
}

.search-bar .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2.5rem;
    text-align: center;
    pointer-events: none;
    color: white;
}

input:focus {
    outline: 0;
}